/* Default styles for all screen sizes */
.home-container {
  padding: 20px;
  height: 95vh;
  display: flex;
  justify-content: center;
  /* background-image: url("https://images.unsplash.com/photo-1579106131295-dfab63d39847?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
  background-image: url("https://images.unsplash.com/photo-1498404781417-2b02e42ecd0d?q=80&w=4032&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}


